version: '3.4'
# docker network create -d bridge my-network
# https://medium.com/it-dead-inside/docker-containers-and-localhost-cannot-assign-requested-address-6ac7bc0d042b
services:
  postgres:
    image: rtorres1228/postgres:v1.0
    container_name: database-container
    build:
      context: ./docker_postgres
      dockerfile: Dockerfile.postgres
    environment:
      # POSTGRES_PASSWORD: pass
      POSTGRES_PASSWORD_FILE: /app/secrets/postgres-passwd
      POSTGRES_USER: usr
      POSTGRES_DB: sqlalchemy
    restart: always
    ports:
      - "5432:5432"
    networks:
      - rt-container
    volumes:
      - postgresdata:data/var/lib/postgresql/data
      # this will give me access to the folder from my host
      # https://devopsheaven.com/docker/docker-compose/volumes/2018/01/16/volumes-in-docker-compose.html
      # ~/postreg/data:/var/lib/postgresql/data
    
  reloading:
    depends_on:
      - postgres
    image: rtorres1228/reload:v7.0
    container_name: main-api
    build:
      context: .
    ports:
      - "5000:5000"
    networks:
      - rt-container

networks:
  rt-container:
#    external: true

# https://docs.docker.com/storage/volumes/
volumes:
  postgresdata:
    # external: true
    driver: azure_file
    driver_opts:
      share_name: data
      storage_account_name: postgressvol

   
  



